<div class="container">
  <br>
  <form>
    Tweet as MoldyDentures! <br><br>
    <input type="text" size="50" name="tweet"/>
    <input type="submit" name="submit" value="tweet it!" />
  </form>
  <br>
  <div id="msg"></div>
  <br>
  <a href='/'>Refresh</a>
</div>
